{% load static %}

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; YSU-LIBRARY
          <script>document.write(new Date().getFullYear());</script> All rights reserved | Made with <span class="icon text-red-50 text-danger">
                                  <i class="fas fa-heart"></i>
                                </span> by<a href="https://facebook.com/abdurrahaman-abdullahi" target="_blank">
          Abdurrahaman Abdullahi</a> </span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->