{% load static %}

  <!-- Optional JavaScript -->
  <!-- Custom scripts for all pages-->
  <!-- Page level plugins -->
<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/chart.js/Chart.min.js' %}" media="screen"></script>
  <!-- Page level custom scripts -->
  <script src="{% static 'sb-admin/assets/demo/chart-area-demo.js' %}" media="screen"></script>
  <script src="{% static 'sb-admin/assets/demo/chart-pie-demo.js' %}" media="screen"></script>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}" media="screen"></script>
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}" media="screen"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" media="screen"></script>
  
<script src="{% static 'sb-admin/js/scripts.js' %}" media="screen"></script>
<script src="{% static 'vendor/fontawesome-free/js/all.min.js' %}" media="screen"></script>

<!--Additional javascripts-->
  
  


  