{% extends 'base\base.html' %}
{% load static %}


{% block content %}
<div>
  <a href="{% url "scanner:home" %}" class="btn btn-primary btn-icon-split float-right">
          <span class="icon text-white-50">
            <i class="fas fa-home"></i>
          </span>
          <span class="text">Back to home</span>
        </a>
</div>
<br>
{% if students %}

<p>List of all registered students</p>
<table class="table table-hover">
  <thead class="">
    <tr>
      <!--      <th scope="col">#</th>-->
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">ID Number</th>
      <th scope="col">Profile page</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}

    <tr>
      <td>{{ student.first_name | title }}</td>
      <td>{{ student.second_name | title }}</td>
      <td>{{ student.phone_number }}</td>
      <td>{{ student.id_number | upper}}</td>
      <td><a href="{% url 'scanner:profile' student.id %}" class="btn btn-success btn-icon-split">
          <span class="icon text-white-50">
            <i class="fas fa-user"></i>
          </span>
          <span class="text">view profile</span>
        </a></td>
    </tr>
    {% endfor %}
  </tbody>

</table>
{% else %}
<p class="ml-4"><span><a href="#" class="btn btn-warning btn-circle btn-sm mr-2">
  <i class="fas fa-exclamation-triangle"></i>
</a></span>Sorry, there are no students registered, click  <a href="{% url 'scanner:register_student' %}">here</a> to register a new student</p>

{% endif %}
{% endblock content %}